@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-segundaria:#f6f6f6;
    --cor-tercearia:#22D4FD;
    --cor-hover-button:#272727;

    --fonte-principal:'Krona One', sans serif;
    --fonte-secundaria:'Montserrat',sans serif;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-segundaria);

}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 18px;
    font-family: var(--fonte-secundaria);
    color:var(--cor-tercearia);
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-segundaria);
}



.titulo-destaque{
    color:var(--cor-tercearia);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__foto-perfil{
    width: 467.71px;
    height: 532px;
    border: 3px solid var(--cor-tercearia);
    margin-bottom: 200px;
    border-radius: 8px;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family:var(--fonte-principal)
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
    color:var(--cor-segundaria);
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border:2px solid var(--cor-tercearia) ;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:var(--cor-segundaria);
    font-family: var(--fonte-secundaria);
    
    
}
.apresentacao__links__link:hover{
    background-color:var(--cor-hover-button);
    padding: 3%;
    cursor: pointer;
}

.rodape{
    text-align:center;
    background-color: var(--cor-tercearia) ;
    color:var(--cor-segundaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    padding: 28px;
    font-weight: 400;
}

